/*
brand
font-family: 'Niconne', cursive; 
Header
font-family: 'Sorts Mill Goudy', serif;
p
font-family: 'Comfortaa', cursive;
*/

html {
    scroll-behavior: smooth;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: 'Sorts Mill Goudy', serif;
    padding-bottom: 20px;
    color: #5f7a7a;
}

h3 {
    font-family: 'Sorts Mill Goudy', serif;
    color: #5f7a7a;
    &.abouttitle {
        font-family: 'Sorts Mill Goudy', serif;
        color: #179b9b;
    }
}

p.abouttext {
    color: #9e420c;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    font-size: 15.5px;
}

.card-title {
    font-family: 'Sorts Mill Goudy', serif;
    color: #e99670;
    font-size: 26px;
}

.card-text {
    color: #5f7a7a;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    font-size: 14px;
}

table {
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: #1e5b63;
}

.logo {
    max-height: 80px;
    margin-top: -50px;
}

.bluelogo {
    max-height: 25px;
    margin-top: -16px;
}

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 216, 199, 0.44)), color-stop(rgba(253, 238, 178, 0.22)), to(transparent)), url(../img/closeup-cookies.png);
    background-image: linear-gradient(rgba(217, 216, 199, 0.44), rgba(253, 238, 178, 0.22), transparent), url(../img/closeup-cookies.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    max-height: 100vh;
    width: 100%;
    min-height: 100vh;
    margin-top: -10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.brandtypo {
    font-family: 'Niconne', cursive;
}

.slogan {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    color: white;
    display: inline;
    padding: 5px;
    font-family: 'Comfortaa', cursive;
}

.navbar {
    z-index: 2;
    width: 100%;
}

.bg-nav {
    margin-top: -50px;
    background-color: white;
    opacity: 0.8;
}

a {
    color: #15b2d6;
    padding-left: 20px;
    text-align: center;
    opacity: 1;
    z-index: 1;
    font-family: 'Comfortaa', cursive;
    &:hover {
        color: #a38a8a;
    }
}

.nav-item {
    padding-left: 20px;
    font-weight: bolder;
}

.navbar-toggler-icon {
    background-image: url(../img/button-menu.png);
    padding: 20px;
}

.probootstrap-heading {
    z-index: 1;
}

.mainheader {
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

.row {
    padding: 0;
    margin: 0;
}

.brandsm {
    font-size: 25px;
}

.brandC {
    font-size: 35px;
}

.brandxl {
    color: white;
    font-size: 130px;
}

.brandC2 {
    font-size: 135px;
}

.aboutsections {
    width: 100%;
    background-color: #ffdfb4;
}

.articleaboutus {
    margin-bottom: 25%;
    margin-top: 25%;
}

.space {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 216, 199, 0.44)), color-stop(rgba(253, 238, 178, 0.22)), to(transparent)), url(../img/closeup-cookies.png);
    background-image: linear-gradient(rgba(217, 216, 199, 0.44), rgba(253, 238, 178, 0.22), transparent), url(../img/closeup-cookies.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 45vh;
    width: 100%;
}

.firstletter {
    font-size: 40px;
    font-family: 'Niconne', cursive;
    line-height: 0.6;
}

.white {
    font-size: 40px;
    font-family: 'Niconne', cursive;
    line-height: 0.6;
    color: white;
}

#history {
    background: #CCFFFF;
    background: -webkit-gradient(linear, right top, left bottom, from(#CCFFFF), to(#F3FCFB));
    background: linear-gradient(to bottom left, #CCFFFF, #F3FCFB);
    background-size: cover;
    .firstletter {
        font-size: 40px;
        font-family: 'Niconne', cursive;
        line-height: 0.6;
    }
    .history-text {
        font-family: 'Comfortaa', cursive;
        color: #5f7a7a;
        font-size: 13.5px;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: -2px;
        margin-bottom: -15px;
    }
    .history-title {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: -4px;
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    .historyh3 {
        font-family: 'Sorts Mill Goudy', serif;
        color: #e99670;
    }
    #History,
    #mission,
    #Product {
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    .card-img {
        height: 100%;
    }
    #stack,
    #twocook,
    #product {
        max-height: 50px;
    }
    .credit {
        color: #bebebe;
        font-size: 12px;
        a {
            text-decoration: none;
            color: #aaaaaa;
            &:hover {
                color: #bebebe;
            }
        }
    }
}

#gallery {
    background-color: #ffdfb4;
    /*card*/
    .card-deck .card {
        margin: 0;
    }
}

.card-text {
    font-family: 'Comfortaa', cursive;
}

.card-body {
    display: inline;
}

.card-deck {
    min-height: 100%;
}

.card-nad {
    height: 100%;
}

#contact {
    padding-top: 30px;
    background-color: #dae3ff;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

#contactUS .btn {
    background-color: #2a9c9d;
    margin-bottom: 1rem;
    margin-left: 15px;
}

.contactsection {
    padding-top: 0;
    padding-bottom: 0;
}

footer {
    background-color: #2a9c9d;
    h6 {
        color: rgb(238, 239, 240);
    }
    p {
        color: rgb(238, 239, 240);
        font-family: 'Comfortaa', cursive;
        a {
            color: rgb(238, 239, 240);
            &:hover {
                color: #13717e;
                text-decoration: none;
            }
        }
    }
    .btn-sm {
        border-radius: 50%;
        background-color: #f0f0f0;
    }
    .fab {
        color: #2a9c9d;
    }
}

#Openinghours th {
    background-color: #2a9c9d;
    color: white;
}

tr:nth-child(even) {
    background-color: #5bc8ca;
}

@media only screen and (max-width: 768px) {
    .articleaboutus {
        margin: 0;
        margin-right: 25%;
        margin-left: 25%;
    }
    .imgaboutus {
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    .StoreFrontImg {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 434px) {
    .brandxl {
        color: white;
        font-size: 75px;
    }
    .slogan {
        font-size: 18px;
    }
}

@media only screen and (max-width: 474px) {
    #marginghistory {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}


/*# sourceMappingURL=style.css.map */


/*Credit for icons style*/

.credit {
    color: rgb(190, 190, 190);
    font-size: 12px;
    a {
        text-decoration: none;
        color: rgb(170, 170, 170);
        &:hover {
            color: rgb(190, 190, 190);
        }
    }
}
