/*

brand
font-family: 'Niconne', cursive; 

Header
font-family: 'Sorts Mill Goudy', serif;

p
font-family: 'Comfortaa', cursive;


*/






h1,
h2,
h4,
h5,
h6 {
    font-family: 'Sorts Mill Goudy', serif;
    padding-bottom: 20px;
    color: #055252;
}

h3 {
    font-family: 'Sorts Mill Goudy', serif;

    color: #055252;
}

p,
table {
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: #044545;
}



.brandtypo {
    font-family: 'Niconne', cursive;


}

.slogan {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    color: white;
    display: inline;
    padding: 5px;
    margin-top: -40px;

}

.brandsm {
    font-size: 25px;
}


.brandC {
    font-size: 35px;
}

.brandxl {
    color: white;
    font-size: 130px;
    ;
}

.brandC2 {
    font-size: 135px;
}



.navbar {
    z-index: 2;
}




.navbar-costume {}

.bg-nav {
    margin-top: -50px;
    width: 100%;
    background-color: white;
    opacity: 0.8;
}

a {
    color: #15b2d6;
    padding-left: 20px;
    text-align: center;
    opacity: 1;
    z-index: 1;
    font-family: 'Comfortaa', cursive;
}

a:hover {
    color: #a38a8a;
}

.nav-item {
    padding-left: 20px;
    font-weight: bolder;


}

button {}

.navbar-toggler-icon {
    background-image: url(../img/button-menu.png);
    padding: 20px;
}

.aboutsections {

    width: 100%;
    background-color: #ffdfb4;
    ;
}

.pagesections {
    width: 100%;
    min-height: 100vh;
    margin-top: -10px;
    ;
}

#header {
    background-image: linear-gradient(rgba(217, 216, 199, 0.44), rgba(253, 238, 178, 0.22), transparent), url(../img/closeup-cookies.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    max-height: 100vh;
}

.space {
    background-image: linear-gradient(rgba(217, 216, 199, 0.44), rgba(253, 238, 178, 0.22), transparent), url(../img/closeup-cookies.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 45vh;
}


#history {
    background: #CCFFFF;
    background: -webkit-linear-gradient(bottom left, #CCFFFF, #F3FCFB);
    background: -moz-linear-gradient(bottom left, #CCFFFF, #F3FCFB);
    background: linear-gradient(to bottom left, #CCFFFF, #F3FCFB);
    background-size: cover;
}

#gallery {
    background-color: #ffdfb4;
}

#contact {


    padding-top: 30px;


    background-color: #dae3ff;
}




.probootstrap-heading {
    z-index: 1;
}

.mainheader {
    padding: 25vh;
}


.toggler-icon-dots {
    background-image: url(../img/more-button-interface-symbol-of-three-horizontal-aligned-dots2.png);
    background-size: cover;
    background-repeat: no-repeat;
}



.sm-img {
    width: 100%;
}

.firstletter {
    font-size: 40px;
    font-family: 'Niconne', cursive;
    line-height: 0.6;

}





section {
    padding-top: 50px;
    padding-bottom: 50px;
}



/*card*/
.card-body {
    display: inline;
}

.history-text {
    font-family: 'Comfortaa', cursive;
    color: rgb(95, 122, 122);
    font-size: 13.5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -2px;
    margin-bottom: -15px;
}

.history-title {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -4px;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.card-deck {
    min-height: 100%;
}

.card-nad {
    height: 100%;
}
